#forkme {
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    border: 0;
    background: url(http://alexgorbatchev.com/SyntaxHighlighter/images/forkme.png) no-repeat;
    width: 149px;
    height: 149px;
    text-indent: -1000px;
    overflow: hidden;
}